<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            Status
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Application: <span class="badge badge-success float-right">Running</span></li>
            <li class="list-group-item">Database: <span class="badge badge-success float-right">Connected</span></li>
            <li class="list-group-item">Server: <span class="badge badge-warning float-right">Warning</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  